.navbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
}
.wrapper {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.button {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: "Source Sans 3", sans-serif;
    font-style: italic;
    background-color: transparent; 
    cursor: pointer;
    border: none;
    margin-inline: 2rem;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}
  
.button:active {
    transform: scale(0.9);
}

.internallinks{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.externallinks{
    justify-content: flex-end;
    display: flex;
    gap: 1.3rem;
}

.externallinks img{
    width: 2rem;
    height: 2rem;
}