.button {
    font-size: 26px;
    font-weight: 800;
    font-family: times new roman, serif;
    color: #ffffff; /* White text */
    background-color: transparent; /* Transparent background */
    cursor: pointer;
    border: none;
}

.icon {
    height: 30px;
    width: 30px;
}