.button {
    font-size: 1.7rem;
    font-weight: 800;
    font-family: times new roman, serif;
    color: #ffffff; 
    background-color: transparent; 
    cursor: pointer;
    border: none;
    margin: 1rem;
}

.icon {
    margin: 0.5rem;
    height: 1.6rem;
    width: 2rem;
}

[src*='git'] {
    height: 1.8rem;
    margin-top: 0.4rem;
}