.navbar {
    height: 4rem;
    background-color: #252222a5;
}

.wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.internallinks{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 50%;
    margin-left: 40rem;
}

.externallinks{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.externallinks img{
    width: 2rem;
    height: 2rem;
    border: solid red;
}

.button {
    font-size: 1.7rem;
    font-weight: 800;
    font-family: times new roman, serif;
    color: #ffffff; 
    background-color: transparent; 
    cursor: pointer;
    border: none;
    margin-inline: 1rem;
    text-decoration: none;
}