.header {
    background-color: #252222a5;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.internallinks{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 50%;
    margin-left: 40rem;
}

.externallinks{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    margin-right: 2rem;
}