.sidebar{
    z-index:5;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 20rem;
    height: 100%;
    background: black;
    opacity:0.8;
}

button {
    width: 3.15rem;
    height: 3.15rem;
    border-radius: 50%;
    position: fixed;
    top: 1.2rem;
    left: 2rem;
    background-color: transparent;
    border: none;
}